<!doctype html>
<html>
<% include partials/head %>
<body>
<% include partials/header %>
<form action="/createPoll" method="POST">
  <input placeholder="Question" name="question"></input>
  <textarea placeholder="Options" name="options"></textarea>
  <button type="submit">Create Poll</button>
</form>
<% include partials/footer %>
</body>
</html>
