<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!--<link rel="stylesheet" href="css/styles.css">-->
    <link rel="stylesheet" href="stylesheets/style.css">
    <style>
        /*body         { padding-top:80px; }*/
    </style>
</head>
<body>
<header>
  <!--<a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>
  <a href="/polls">fcc-voting</a>-->
  <nav class="navbar navbar-default">
    <ul>
      <li><a class="btn" href="/polls">fcc-voting</a>
      
      <% console.log(user) %>
      <% if (user) { %>

          <!--<span><%=user.twitter.displayName%></span>-->
        <p><%=user.twitter.displayName%></p></li>
        <li><a class="btn btn-primary" href="/logout">Logout</a></li>
        <li><a class="btn btn-default" href="/mypolls">My Polls</a></li>
        <li><a class="btn" href="/createPoll">New Poll</a></li>

      <%} else { %>
        <li><a class="btn" href="/polls">Home</a></li>
        <li><a class="btn btn-info" href="/auth/twitter">Sign in with Twitter</a></li>
        <% } %>
    </ul>
  </nav>
</header>
  <div class="container-fluid">
    <ul class="list-group">
      <% for (var i=0;i<polls.length;i++) {%>
      <li class="list-group-item"><a href="/polls/<%=polls[i]._id %>"><%=polls[i].title %></a></li>
    <% } %>
    </ul>
  </div>
<footer class="well">Created by</footer>
</body>
</html>
